:root {
  --primaryColor: #22181c;
  --accentColor: #ef626c;
  --accentDimmed: rgba(239, 98, 108, 0.4);
  --whiteColor: #e6e8ea;
  --whiteDimmed: rgba(255, 255, 255, 0.6);
  --remToPx: 0.0625rem;
  --fontSizeSm: 20px;
  --fontSizeMd: 28px;
  --fontSizeXLg: 48px;
}

body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  background-color: var(--primaryColor);
}

img {
  width: 100%;
  height: 100%;
}

.wrapper {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
/* Grid Areas */
.brand {
  grid-area: navbar-brand;
}

.toggler {
  grid-area: navbar-toggler;
}

.nav-items {
  grid-area: navbar-items;
  background-color: var(--primaryColor);
  flex-direction: column;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.25s ease-in-out;
}

.nav-items.active {
  transform: scaleY(1);
}

.navbar {
  position: sticky;
  top: 0;
  height: 10vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(10vh, auto);
  grid-template-areas:
    "navbar-brand navbar-toggler"
    "navbar-items navbar-items";
  box-sizing: border-box;
  align-items: center;
}

.navbar > * {
  padding: 0 1.2rem;
}

.brand {
  color: var(--accentColor);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.9;
  font-size: var(--fontSizeXLg);
}

.nav-item {
  /* background-color: #f1f1f1; */
  padding: 1rem 0;
}

.nav-link {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--whiteColor);
  font-size: 1.2em;
  font-weight: 500;
  padding-bottom: 0.3em;
}

.nav-link.active {
  border-bottom: solid 3px var(--accentColor);
}

/* Align Toggler to Right */
.toggler {
  justify-self: end;
  font-size: 1.75em;
  color: var(--accentColor);
}

/* Hero */
#hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 1rem;
  box-sizing: border-box;
}

#hero .subtitle {
  font-size: 1.5rem;
  margin: 1.25rem 0;
  letter-spacing: 0.9;
}

#hero .person-img {
  border: solid 2px var(--accentColor);
  margin-top: 1.2rem;
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

/* #hero .person-img .person-img-bg {
  width: 150px;
  height: 150px;
  background-color: var(--accentDimmed);
  border-radius: 50%;
  grid-row: 1 / 4;
} */

/* #hero .person-img figure {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
} */

/* Section A */
#section-a {
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#section-a .btn {
  margin-bottom: 0.75rem;
}

#section-b {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 1rem;
}

#section-b > .content {
  text-align: center;
}

/* Section C */
#section-c {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 1rem;
}

#section-c .content {
  text-align: center;
}

/* Global */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.h2 {
  font-size: 3em;
  padding: 0;
  margin: 0;
  letter-spacing: 0.9;
}

.h4 {
  font-size: 8vw;
  letter-spacing: 0.95;
  margin: 0;
}

.h5 {
  font-size: 6vw;
  margin: 0;
}

.subheading {
  padding: 0.5rem 0;
}

.content {
  color: grey;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.95;
}
.line-bg {
  display: inline-block;
  width: 100px;
  border: solid 3px var(--accentColor);
}

.btn {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.35em;
  font-weight: 700;
  color: var(--whiteColor);
  padding: 0.75em;
  text-align: center;
  border-radius: 10px;
  width: 200px;
}

.btn.with-border {
  border: solid 1px var(--accentColor);
}

.btn.with-bg {
  background-color: var(--accentColor);
}

.text-white {
  color: var(--whiteColor);
}

.text-white-o {
  color: var(--whiteDimmed);
}

.btn-group {
  display: flex;
  flex-direction: column;
}

.box {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.box .h5 {
  margin-top: 1rem;
  color: var(--primaryColor);
}

.box svg {
  color: var(--accentColor);
  font-size: 4rem;
}

.inner-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.tab-link {
  text-decoration: none;
  color: var(--whiteDimmed);

  padding: 0.5rem 0;
}

.tab-link.active {
  border-bottom: solid 3px var(--accentColor);
}
